

.form {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #1c1c1c9a;
    width: 25%;
    margin: 20px auto;
    border-radius: 8px;
    height: auto;
  }
  
  .title {
    margin: auto;
    text-align: center;
    color: #45f3ff;
  }
  
  .int {
    height: 25px;
    font-size: 20px;
    margin: 5px 5px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.404);
    color: rgb(7, 11, 245);
  }
  
  .btn {
    height: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid rgb(51, 30, 240);
    background-color: rgb(29, 164, 243);
  }
  
  .btn:hover {
    background-color: rgb(41, 211, 7);
    border: 2px solid greenyellow;
    color: azure;
  }
  
  .int:focus {
    outline: 2px solid rgb(5, 184, 154);
  }
  
  .warning{
    background-color: rgba(241, 35, 35, 0.699);
    width: 200px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    color: white;
    border: 2px solid red;
  }