.input {
  margin: auto 40%;
  width: 20%;
  height: 25px;
  border: 1px solid rgba(241, 42, 42, 0.527);
  font-size: 20px;
  color: orangered;
}

.input:focus {
  outline: 1px solid rgb(92, 250, 0);
}

.searchtitle {
  margin: auto 40%;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: rgb(43, 43, 236);
}
