body {
  background-color: rgb(247, 236, 222);
}

.list {
  list-style: none;
  margin-left: 39%;
  background-color: rgb(46, 247, 39);
  width: 20%;
  height: 200px;
  font-size: 20px;
  border-radius: 10px;
  overflow: auto;
}

.button {
  font-size: 15px;
  background-color: rgb(243, 183, 16);
  cursor: pointer;
  border: 1px solid yellowgreen;
  font-weight: 700;
}

.button:hover {
  background-color: red;
  border: 1px solid orangered;
  color: azure;
}
